

<!DOCTYPE html>
<html>
<head>
    <title>Panel de Administraci贸n</title>
</head>
<body>
    <h1>Panel de Administraci贸n</h1>
    <p>Bienvenido al panel de administraci贸n de la aplicaci贸n.</p>
    
</body>
</html>
